*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// debug

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}




// container 
.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    // justify-content: center;
    align-items: center;
}

// btn 

.btn{
    padding:15px 50px;
    border-radius: 6px;
    background-color: #20AD96;
    color: white;
    border: none;
    cursor: pointer;
    
}

// col 
.row {
    display: flex;
    flex-wrap: wrap;
    
}

// .col-4{
    
//     flex-basis: calc(100% / 12 * 3);
// }

//font 
.font-green{
    color: #20AD96;
}

.font-size-green{
    font-weight: 100;
}